<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Загрузить" formaction="/"/></p>
        </form>

        <form action="{% url 'get_statistic' %}" method="post" enctype="multipart/form-data">
            <p><input class="field" type="date" name="start_date"></p>
            <p><input class="field" type="date" name="stop_date"></p>
            <p><input type="submit" value="Получить статистику" /></p>
        </form>
    </body>
</html>